:root {
  --main-text-color: #787a80;
  --text-title-color: #1e212c;
  --text-secondary-color: #424551;
}

/* general styles */

body {
  font-family: 'Ubuntu', sans-serif;
  color: var(--main-text-color);
}

.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
  max-width: 100%;
}

/* reset styles */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  padding: 0;
}

/* header */

.grid-col {
  display: grid;
  grid-auto-flow: column;
}

.header {
  column-gap: 172px;
  padding-top: 22px;
  padding-bottom: 23px;
}

.nav {
  column-gap: 60px;
  align-content: center;
}

.nav-list {
  column-gap: 40px;
  justify-content: center;
  align-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(160 / 100);
}

.nav-link {
  color: var(--text-secondary-color);
}

.contacts {
  line-height: calc(150 / 100);
}

.contacts-list {
  column-gap: 36px;
}

.contacts-item {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 12px;
  align-items: center;
}

.contact-link {
  font-weight: 400;
  font-size: 18px;
  color: var(--text-title-color);
}

.contact-text {
  font-weight: 700;
  font-size: 14px;
  color: var(--text-secondary-color);
}
