:root {
  --main-text-color: #787a80;
  --text-title-color: #1e212c;
  --text-secondary-color: #424551;
  --accent-color: #ff5a30;
  --transition-duration: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* general styles */

body {
  font-family: 'Ubuntu', sans-serif;
  color: var(--main-text-color);
}

.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
  max-width: 100%;
}

/* reset styles */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  padding: 0;
}

/* header */

.grid-col {
  display: grid;
  grid-auto-flow: column;
}

.header {
  column-gap: 172px;
}

.logo-link {
  padding-top: 35px;
  padding-bottom: 35px;
}

.nav {
  column-gap: 60px;
  align-content: center;
  align-items: center;
}

.nav-list {
  column-gap: 40px;
  justify-content: center;
  align-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(160 / 100);
}

.nav-link {
  padding-top: 37px;
  padding-bottom: 37px;
  color: var(--text-secondary-color);
  transition: color var(--transition-duration) var(--transition-function);
}

.nav-link:is(:hover, :focus) {
  color: var(--accent-color);
}

.contacts-list {
  column-gap: 36px;
}

.contact-link {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 12px;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;
}

.contact-link:is(:hover, :focus) .contact-info {
  color: var(--accent-color);
}

.contact-info {
  font-weight: 400;
  font-size: 18px;
  color: var(--text-title-color);
  transition: color var(--transition-duration) var(--transition-function);
}

.contact-text {
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 14px;
  color: var(--text-secondary-color);
}

/* hero */

.hero {
  max-width: 1920px;
  padding-top: 219px;
  padding-bottom: 121px;
  background-image: linear-gradient(
      rgba(30, 33, 44, 0.6),
      rgba(30, 33, 44, 0.6)
    ),
    url(../image/hero/bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: #ffffff;
}
